# Example Environment file for the application, copy as `.env` and fill in the values

# if you want a player account with "Forger" (highest staff character)
#   access ... this works for both production and local-dev
GAME_MASTER_ACCOUNT=<account name>
GAME_MASTER_ACCOUNT_PASSWORD=<account password>

# Where to upload the releaes packages
UPLOAD_SSH_COMMAND="ssh <target>"
UPLOAD_SSH_PATH="/path/to/download/folder"
